@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Fan Mail";
}

<!--Grade Calculator-->
<h1>Final Grade Calculator</h1>
<br />

<h6 class="center">Enter as Integer or to Second Decimal Place</h6>
<form>
    <label>Assignments Grade</label>
    <input id="assignment" />
    <br />
    <label>Group Project Grade</label>
    <input id="group" />
    <br />
    <label>Quizzes Grade</label>
    <input id="quiz" />
    <br />
    <label>Midterm Grade</label>
    <input id="mid" />
    <br />
    <label>Final Exam Grade</label>
    <input id="final" />
    <br />
    <label>INTEX Grade</label>
    <input id="intex" />
    <br />
    <h3>Results:</h3>
    <p id="letter" class="center"></p>
    <p id="percent" class="center"></p>
    <br />
    <input id="btnCalc" type="button" value="Calculate" />
    <br />
    <br />
    <br />
</form>

<!--JavaScript and JQuery-->
<script src="js/Calculator.js"></script>